#navi {
    background-color: rgb(255, 236, 206) !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgb(226, 72, 0) !important;
    font-weight: 700;
}